name: PR Validation

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  branch-name-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Validate branch name
        uses: deepakputhraya/action-branch-name@v1.0.0
        with:
          regex: '^(bugfix|hotfix|release|feature|refactor)\/[A-Z]+-[0-9]+-[A-Za-z0-9-]+$'
          allowed_prefixes: 'bugfix,hotfix,release,feature,refactor'
          ignore: 'main'

  pr-title-validation:
    runs-on: ubuntu-latest
    needs: branch-name-validation

    steps:
      - name: Check PR title matches regex
        uses: Slashgear/action-check-pr-title@v5.0.1
        with:
          regexp: '^(fix|release|feat|hotfix|build|test)\(([A-Z]+-[0-9]+|JIRA-[0-9]+)\): .+'
          helpMessage: 'Example: fix(ENR-2): Setup Authentication'
